

body{

    background-color: #fef6eb;
    font-weight: 350px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    zoom: 90%;
}



.main{
    width: 100%;
    text-decoration: none;
}

.main img{
    float: left;
    margin-top: 20px;
    display: flex;
}

.header ul{
    display: flex;
    list-style: none;
    color: black;
}

.header ul li{
    margin-left: 100px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 1000px;  
    text-transform: uppercase;
    align-content:center ;
    
} 

.header a{

    color: black;
}

.header i:hover{
    color: #4197b5;
}

.header a:hover{
    color: #4197b5;

}

#line1{

    border: 1px solid  #4197b5;
    margin: 20px;
    margin-top:20px ;
}

.ri-search-line {
    
    margin-right: 30px;
    margin-left: 15px
}
.Sinput{

    flex: 1;
    padding: 8px;
    border: 1px;
    outline: 1px;
   
}
.search-btn{
    background-color: transparent;
    height: 100%;
}


.contentHomePage{
    display: flex;
    align-items: center;
            gap: 20%; 
}

.places{
    display: flex;
    flex-direction: column;
    float: left;
 
    
}

.presentation{
    background-color: #fef6eb; 
    padding: 15px;  
    border-radius: 8px; 
    max-width: 700px;
    font-size: 30px;
   
}

#line2{

    border: 1px solid  #4197b5;
    margin: 20px;
    margin-top:20px ;
}
.ftr ul{
    display: flex;
    list-style: none;
    color: black;
    text-align: center;
}

.ftr{
    display: flex;
    font-size: 30px;
   justify-content: center;
   
    
    
} 
.ftr ul li{

    gap: 20px;
}
.ftr a{

    color: black;
}

.ftr i:hover{
    color: #4197b5;
}

.ftr a:hover{
    color: #4197b5;
}
h5{
    margin-left: 35px;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}